# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environment
.env
.env.local
*.key
*.pem

# Logs
logs/
*.log

# Virtual environments
venv/
.venv/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Docker
*.dockerignore
*.tar
